@{
    ViewBag.Title = "Jim Connor";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>E-mail:</strong> <a href="mailto:Support@example.com">tinyhobbes@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/hobbe5/Razor.Datatables">Razor.Datatables</a><br />
</address>