@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Datatables</h2>
        <p>
            jQuery datatables using razor syntax
        </p>
        <p><a class="btn btn-default" href="/Home/Datatable">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BeginCollectionItem</h2>
        <p>This Html Helper leverages the default model binder in ASP.NET MVC 2 and higher to materialize viewmodel collection properties from an HTTP POST.</p>
        <p><a class="btn btn-default" href="/Home/CollectionItem">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>